.my-gallery-posts-options-div{
    height: 20vh;
}

.my-content-container-rows>div{
    border: 5px solid whitesmoke;
    height: 50vh;
    padding: 0;
}

.my-card-styles{
    border: 1px solid rgb(255, 243, 192);
}

.my-navigation-links{
    color: gray;
    
}

.my-navigation-links:hover{
    color: blue;
    
}

