.my-gallery-posts-options-div{
    height: 20vh;
}

.my-content-container-rows>div{
    border: 1px solid whitesmoke;
    height: 50vh;
    padding: 0;
}

/* .my-image-fill{
    object-fit: cover;
	object-position: top;
} */

.my-card-styles{
    border: 1px solid pink;
}

/* .col{
    background-color: greenyellow;
} */

#myTabContent{
    background-color: salmon;
}

